_site/

.idea/workspace.xml
.DS_Store
.idea/misc.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
*.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
files/lecture_notes/CST207_2020/Assignment 1.docx
files/lecture_notes/CST207_2020/Assignment 2.docx
files/lecture_notes/CST207_2020/Assignment 3.docx
files/lecture_notes/CST207_2020/Assignment 4.docx
files/lecture_notes/CST207_2020/Assignment 5.docx
files/lecture_notes/CST207_2020/Assignment 6.docx
*.icloud
files/lecture_notes/CST207_2020/Miniproject.docx
files/lecture_notes/CST207_2020/Project.docx
files/lecture_notes/SWE404_2020/Assignment 1.docx
files/lecture_notes/SWE404_2020/Assignment 2.docx
files/lecture_notes/SWE404_2020/Assignment 3.docx
files/lecture_notes/SWE404_2020/Assignment 4.docx
files/lecture_notes/SWE404_2020/Assignment 5.docx
files/lecture_notes/SWE404_2020/Project.docx
